@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color: #000;
	--gradient: linear-gradient(90deg, #ff7300 41.81%, #ff3c00 100%);
	--container-width: 1238px;
	--secondary-bg: #fff;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	background-color: #faf4ee;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

p {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 160px;
	line-height: 160px;
	text-transform: uppercase;
	font-weight: 900;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 96px;
	line-height: 104px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 64px;
	font-weight: 900;
	line-height: 64px;
}

h4{
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	font-weight: 900;
	line-height: 48px;
}

.gradient_text {
	background: linear-gradient(90deg, #ff7300 41.81%, #ff3c00 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.primary_btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	background: var(--gradient);
	color: #fff;
	text-transform: uppercase;
	border-radius: 32px;
	font-size: 24px;
	line-height: 32px;
}

.secondary_btn {
  background-color: #151F30;
  color: #fff;
  border-radius: 32px;
  font-size: 20px;
  line-height: 32px;
	overflow: hidden;
  position: relative;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.secondary_btn img{
	transition: all .2s ease-in-out;
}

.secondary_btn::after{
    background: var(--gradient);
    content: '';
    display: block;
		border-radius: 32px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
} 
  
.secondary_btn:hover::after{
    transform: translate(0, 0);
}

.secondary_btn:hover img{
	transform: rotate(45deg);
}

.secondary_btn:hover{
    border: 2px solid transparent;
    transform: scale(1.05);
    will-change: transform;
}
